.menu
	min-height 100vh
	height 100%
	width 100%
	background #151b26
	position fixed
	overflow auto
	top -100vh
	left 0
	z-index 5
	align-items center
	transform translateY(-100vh)
	overflow auto
	tease()
	display flex
	justify-content center
	align-items center
	&__container
		width 100%
		display flex
		justify-content space-around
		flex-wrap wrap
		align-items baseline
	&__list
		margin 65px 0 30px 0
		&__item
			padding 10px
			font-size 24px
	&-open
		tease()
		display flex
		transform translateY(100vh)
	&__сontacts
		padding-bottom 30px
		h2
			margin-bottom 20px
		&__items
			display grid
			grid-gap 10px
		&__item
			color #708090
			&:hover
				color white

@media (max-width 992px)
	.menu
		&__item
			font-size 18px
			text-align center
		&__contacts
			h2
				font-size 18px