.about
	min-height 100vh
	width 100vw
	padding 120px 20px 120px
	background #fafafa
	color #333
	display grid
	justify-content center
	align-items center
	position relative
	z-index 4
	&:after
		background inherit
		bottom 0
		content ''
		display block
		height 20%
		left 0
		position absolute
		right 0
		transform skewY(-5deg)
		transform-origin 100%
		z-index -1
	&__container
		display grid
		justify-content space-around
		grid-template-columns repeat(auto-fit, minmax(320px, 1fr))
		grid-gap 60px
	.skills, .summary
		h2
			margin-bottom 40px
			font-weight 900
		&__description
			font-size 16px
	.skills
		display flex
		flex-direction column
		&__description
			padding 5px 0
			display flex
			align-items center
			position relative
			&:last-child
				padding-bottom 0
			&:before
				position absolute
				left -25px
				content ''
				background #114e5a
				height 5px
				border-radius 50%
				width 5px
				
				
@media (max-width 992px)
	.about
		.skills
			&__description
				padding 10px 0
				&:last-child
					padding-bottom 0
				&:before
					background transparent