.contacts
	min-height 100vh
	width 100vw
	padding 120px 20px 0 20px
	display grid
	grid-template-columns repeat(1, 1fr)
	justify-content center
	align-items center
	background #11141c
	&__lists
		align-self baseline
		display grid
		justify-content space-around
		align-items center
		grid-template-columns repeat(2, 1fr)
		grid-gap 20px
	&__items
		display grid
		justify-content center
		align-items center
		align-self baseline
	&__item
		display flex
		flex-direction column
		padding 10px
		font-size 18px
		color #708090
		&:hover
			color white
	&__form
		display grid
		justify-content center
		align-items center
		form
			display grid
			min-width 300px
			grid-gap 10px
			grid-template-columns 1fr
			input, textarea
				border 1px solid #708090
				text-indent 10px
				padding 15px
				resize none
				color #fff
				&::placeholder
					font-size 12px
					color #505c67
			button
				border 1px solid #708090
				font-weight 900
				font-size 18px
				text-transform uppercase
				background #11141c
				color #fff
				margin-bottom 30px
				padding 20px
				tease()
				&:hover
					color #11141c
					background #708090
					border 1px solid #708090

@media (max-width 992px)
	.contacts
		&__item
			padding 10px
			font-size 14px
		&__lists
			grid-template-columns repeat(1, 1fr)