<div class="menu">
  <div class="menu__container">
    <div class="menu__list">
      <div class="menu__list__item"><a href="#home">Home</a></div>
      <div class="menu__list__item"><a href="#about">About</a></div>
      <div class="menu__list__item"><a href="#works">Latest projects</a></div>
      <div class="menu__list__item"><a href="#pins">Latest pins</a></div>
      <div class="menu__list__item"><a href="#contacts">Contacts</a></div>
    </div>
    <div class="menu__сontacts">
      <h2>Want to contact me?</h2>
      <div class="menu__сontacts__items">
        <a href="tel:+380671305260" class="menu__сontacts__item">+38 (067) 130-52-60</a>
        <a href="mailto:work.sergey.voskresenskiy@gmail.com" class="menu__сontacts__item">work.sergey.voskresenskiy@gmail.com</a>
        <a href="https://t.me/Sheen_V" class="menu__сontacts__item">Telegram</a>
        <a href="https://github.com/Sergey-Voskresenskiy" class="menu__сontacts__item">Github</a>
        <a href="/assets/cv.pdf"  class="menu__сontacts__item">Download CV</a>
      </div>
    </div>
  </div>
</div>